---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Halo 👋!</h1>
			<p>
				Selamat datang di blog.sugeng.id, tempatku berbagi cerita dan ide..
			</p>
			<p>
				Perkenalkan Nama saya sudarmanto, atau orang memanggil saya sudar saya tinggal di pelosok desa di daerah lamongan yaitu Desa Kedungmentawar Kecamatan Ngimbang, Kabupaten Lamongan. Desa saya ini terletak di perbatasan Lamongan Jombang jadi kalau mau ke mana - mana atau mau beli apa lebih cepat ke jombang daripada lamongan kota. 
			</p>
			
		</main>
		<Footer />
	</body>
</html>
